body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


#chessboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 700px;
    height: 700px;
}

#chessboard {
    background-color: gray;
    min-width: 640px;
    min-height: 640px;
    max-width: 700px;
    max-height: 700px;
    border: 2px solid gray;
    border-radius: 3px;
}

#chessboard>table tr {
    padding: auto;
    margin: auto;
}

#chessboard>table td {
    margin: auto;
    padding: auto;
    border: 0cap;
}

.cell {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    /* border: 1px solid gray; */
}

.white {
    background-color: rgb(175, 173, 173);
}

.black {
    background-color: rgb(40, 63, 40);
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(113, 113, 0);
}

.orange {
    background-color: rgb(113, 74, 0);
}

.allowed-move {
    border-color: black;
}

.allowed-move.white {
    background-color: rgb(150, 166, 169)
}

.allowed-move.black {
    background-color: rgb(112, 137, 112)
}


.select-transformation-figure-wrapper {
    height: 120px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    /* width: 1000px; */
}

.select-transformation-figure {

}

.select-transformation-figure>h3 {
    margin: 3px;
    text-align: center;
}










